<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Page</title>
</head>
<body>
    <h1>Admin</h1>
    <div>
        <ul>
            <li><a href="/admin">Home</a></li>
            <li><a href="/admin/viewAllUser">View All User</a></li>
            <li><a href="/admin/addProduct">Add Product</a></li>
            <li><a href="/admin/viewProduct">View Product</a></li>
            <li><a href="/admin/manageUser">Manage User</a></li>
        </ul>
    </div>
    <h1>View All User Called...</h1>
</body>
</html>