<html>

<head>
    <title>First Page..</title>
</head>

<body>
    <h1>First Page called...</h1>
    <b>
        Arrey is : <%= num %>
    </b>
    <hr/>
    <%
      for(let i=0;i<10;i++){
        %>
        <%= num[i] %>
        <%
      }
     %>
</body>

</html>

