<html>
    <head>
        <title>Home Page..</title>
    </head>
    <body>
        <h1>Home Page called...</h1>
        Name is : <%= name %><br><br>
        Location  is : <%= location %>
    </body>
</html>