<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>login Page</title>
</head>
<body>
    <h1>Visitor</h1>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
    <center>
        <h1>Login Here</h1>
        <form action="">
            <label for="">Enter Email</label>
            <input type="text" name="" placeholder="Enter Email"><br><br>
            <label for="">Password</label>
            <input type="password" name="" placeholder="Enter Password"><br><br>
            <button type="submit">Login</button>
        </form>
    </center>
</body>
</html>