<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Page</title>
</head>
<body>
    <h1>User</h1>
    <div>
        <ul>
            <li><a href="/user">Home</a></li>
            <li><a href="/user/profile">Profile</a></li>
            <li><a href="/user/viewOrder">View Order</a></li>
            <li><a href="/user/cpUser">Change Pass</a></li>
        </ul>
    </div>
    <h1>View Order Page Called...</h1>
</body>
</html>