<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page Called...</h1>
    <h1>The Name is : <%= name %></h1>    <!-- ( <%= %> ) used to recieve the data send by server -->
    <h1>User Name is : <%= name %></h1>
</body>
</html>